## 24 그룹핑, 값 찾기, 필터링

In [31]:
import pandas as pd

df = pd.read_csv("data/delivery_time.csv")
df.head()

,주문시간,실제도착시간,예상도착시간,앱종류,거리,결제종류,user
0,2023-07-26 08:05:49,2023-07-26 09:14:06,2023-07-26 08:39:42,여기여,1.93,카드,user_275
1,2022-11-07 10:21:54,2022-11-07 10:44:04,2022-11-07 10:50:15,배고팡,5.19,카드,user_360
2,2023-04-18 05:00:57,2023-04-18 06:12:46,2023-04-18 05:32:53,배고팡,13.85,카드,user_36
3,2023-08-18 10:46:28,2023-08-18 11:16:25,2023-08-18 11:08:33,배고팡,10.90,앱결제,user_65
4,2023-08-11 09:58:27,2023-08-11 11:27:57,2023-08-11 10:51:57,여기여,14.96,카드,user_176

1. 사용자별 주문 거리의 합계가 50km 이상인 사람들의 결제 방식을 구하시오.
2. 이 결제 방식 중 가장 빈도가 높은 수를 구하시오

In [32]:
df_distance = df.groupby(['user'])['거리'].sum() 
df_distance

user
user_1      22.49
user_10     21.27
user_101    16.82
user_103     6.54
user_104     5.15
            ...
user_94      6.77
user_95     49.68
user_96      7.19
user_98     10.31
user_99      3.48
Name: 거리, Length: 426, dtype: float64

In [33]:
cond = df_distance >= 50
df_distance[cond]

user
user_116    67.98
user_133    56.31
user_157    51.15
user_176    53.58
user_19     52.44
user_20     52.91
user_204    54.16
user_211    68.63
user_251    52.73
user_255    59.79
user_311    51.02
user_318    70.84
user_338    50.32
user_342    58.07
user_360    82.77
user_366    52.19
user_368    56.78
user_369    72.74
user_383    56.91
user_385    76.07
user_397    58.12
user_398    51.97
user_430    51.92
user_434    56.79
user_441    58.20
user_497    58.68
user_80     55.14
user_85     56.45
Name: 거리, dtype: float64

In [34]:
filtered_data = df[df['user'].isin(df_distance.index)]
filtered_data

,주문시간,실제도착시간,예상도착시간,앱종류,거리,결제종류,user
0,2023-07-26 08:05:49,2023-07-26 09:14:06,2023-07-26 08:39:42,여기여,1.93,카드,user_275
1,2022-11-07 10:21:54,2022-11-07 10:44:04,2022-11-07 10:50:15,배고팡,5.19,카드,user_360
2,2023-04-18 05:00:57,2023-04-18 06:12:46,2023-04-18 05:32:53,배고팡,13.85,카드,user_36
3,2023-08-18 10:46:28,2023-08-18 11:16:25,2023-08-18 11:08:33,배고팡,10.90,앱결제,user_65
4,2023-08-11 09:58:27,2023-08-11 11:27:57,2023-08-11 10:51:57,여기여,14.96,카드,user_176
...,...,...,...,...,...,...,...
995,2022-10-10 03:13:30,2022-10-10 04:13:48,2022-10-10 04:15:37,배고팡,1.79,현금,user_186
996,2023-02-03 12:47:19,2023-02-03 13:11:46,2023-02-03 13:12:57,배고팡,15.55,카드,user_239
997,2023-01-05 21:28:58,2023-01-05 21:57:41,2023-01-05 21:57:44,배고팡,8.33,현금,user_264
998,2023-06-15 03:56:42,2023-06-15 04:14:24,2023-06-15 04:18:38,여기여,8.20,앱결제,user_229
999,2023-08-02 20:53:53,2023-08-02 22:04:06,2023-08-02 22:09:22,여기여,5.33,카드,user_148

In [41]:
payment_method = filtered_data['결제종류'].value_counts()
payment_method.iloc[0]

349